nav {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff;
    line-height: 10vh;
    z-index: 2;

    @include mob(1024) {
        display: none;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 68px;
        padding: 20px 30px;

        li {
            position: relative;
            list-style-type: none;
            margin-left: 20px;
            padding: 10px 10px;
            overflow: hidden;

            a {
                text-transform: uppercase;
                text-decoration: none;
                font-family: arial;
                color: #9e9399;
                font-size: 18px;
                letter-spacing: 2px;
            }
        }

        li {
            display: inline-block;
            padding: 20px 0 20px;
            vertical-align: middle;
        }

    }
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
    color: #999;
    text-decoration: none;
}

nav ul li a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    line-height: 16px;
    transition: color .3s, .3s, padding .6s ease-in;
    color: #9e9399;
}



nav ul li a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 22px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #9e9399;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.2s ease-out;
}

nav ul li a:active::before {
    background-color: #9e9399;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}




















/*----------End Nav---------*/